@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --priamary-color: rgb(140, 202, 223);
    --priamary-color-darker: rgb(127, 186, 206);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--priamary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

main {
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 300px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.3em;
}


